body {
    background-color:black;
    font-family:'Courier New', Courier, monospace;
}
#div {
    height:90vh;
    color:white;
    background-color: black;
}
.cmd {
    color:rgb(167, 223, 26);
}
.err {
    color:red;
}
.alias {
    color:blue;
}