<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sevinatenine | Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <!-- <li class="dropdown">
            <a class="dropbtn">Projects</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li> -->
    </ul>

    <main>

        <div class="content-wrapper">
            <div class="main-content">
                <h2>Blog</h2>
                stuff
            </div>
        </div>
    </main>

    <div id="footer">
        <img src="https://counter1.optistats.ovh/private/freecounterstat.php?c=kqy8e5mbea5gct6p4w3lkbgk1lnanuea" class="plaque float-right" border="0" title="website counter" alt="website counter">
    </div>
</body>
</html>